@model ExchangeRateViewModel

<span class="mx-4"><img src="~/images/currencies/usd_ico.png" style="height:25px" /> @Model.Usd.ToString("#.#0") TRY - <img src="~/images/currencies/euro_ico.png" style="height:25px" /> @Model.Eur.ToString("#.#0") TRY</span>