@model List<ResultOfferDiscountDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<section class="content container-fluid">
    <div class="col-md-12">
        <div class="chart-box">
            <br />
            <div class="bs-example" data-example-id="bordered-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>İndirim Teklif Başlığı</th>
                            <th>İndirim Teklif Alt Başlığı</th>
                            <th class="text-center">Görsel</th>
                            <th class="text-center">Sil</th>
                            <th class="text-center">Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;

                            <tr>
                                <th scope="row">@count</th>
                                <td>@item.Title</td>
                                <td>@item.SubTitle</td>
                                <td class="text-center"><img src="@item.ImageUrl" style="height:60px" class="img-circle" /></td>
                                <td class="text-center"><a href="/Admin/OfferDiscountAdmin/DeleteOfferDiscount/@item.OfferDiscountId" class="btn btn-danger btn-sm">Sil</a></td>
                                <td class="text-center"><a href="/Admin/OfferDiscountAdmin/UpdateOfferDiscount/@item.OfferDiscountId" class="btn btn-warning btn-sm">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.Count >= 2)
            {
                <a href="" class="btn btn-danger btn-sm disabled">İkiden Fazla İndirim Teklifi Eklenemez!</a>
                ;
            }
            else
            {
                <a href="/Admin/OfferDiscountAdmin/CreateOfferDiscount/" class="btn btn-primary btn-sm">Yeni İndirim Teklifi Ekle</a>
            }
        </div>
    </div>
</section>


