@model UpdateFeatureDto

@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne Çıkan Güncelleme Sayfası</h4>
                <br />
                <form method="post">
                    <div class="form-group">
                        <input type="hidden" asp-for="FeatureID" />
                        <label for="exampleInputEmail1">Öne Çıkan Başlığı</label>
                        <input type="text" asp-for="Title" class="form-control" id="exampleInputEmail1" placeholder="Öne Çıkan Başlığı">
                        <br />
                        <label for="exampleInputEmail1">İkon</label>
                        <input type="text" asp-for="Icon" class="form-control" id="exampleInputEmail1" placeholder="İkon">

                    </div>
                    <button type="submit" class="btn btn-success">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</section>

