@model CreateFeatureSliderDto

@{
    ViewData["Title"] = "CreateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Yeni Slider Görsel Ekleme Sayfası</h4>
                <br />
                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Görsel Başlığı</label>
                        <input type="text" asp-for="Title" class="form-control" id="exampleInputEmail1" placeholder="Görsel Başlığı">
                        <br />
                        <label for="exampleInputEmail1">Görsel Açıklaması</label>
                        <input type="text" asp-for="Description" class="form-control" id="exampleInputEmail1" placeholder="Görsel Açıklaması">
                        <br />
                        <label for="exampleInputEmail1">Görsel Linki</label>
                        <input type="text" asp-for="ImageUrl" class="form-control" id="exampleInputEmail1" placeholder="Görsel">
                        <br />
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</section>

